<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/logo.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Recipe Web App</title>
    <!-- style -->
    <link rel="stylesheet" href="/css/index.css" />
  </head>
  <body>
    <!-- header start -->
    <header class="container">
      <!-- navbar -->
      <nav class="navbar">
        <div class="navbar-start">
          <a href="./index.ejs">
            <img src="/images/logo.svg" alt="heder-logo" />
          </a>
        </div>
        <div class="navbar-center">
          <a class="menu-subtitle" href="./index.ejs">Home</a>
          <a class="menu-subtitle" href="./about.ejs">About</a>
          <a class="menu-subtitle" href="./recipes.ejs">Recipes</a>
        </div>
        <div class="navbar-end">
          <a class="btn-xs navbar-btn" href="./recipes.ejs">Browse recipe</a>
        </div>

        <!-- Hamburger (mobile) -->
        <div class="hamburger" id="hamburger">
          <span class="hamburger-icon">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="18"
              height="16"
              fill="none"
              viewBox="0 0 18 16"
            >
              <path
                fill="#163A34"
                fill-rule="evenodd"
                d="M17 16H1a1 1 0 1 1 0-2h16a1 1 0 1 1 0 2ZM17 2H1a1 1 0 1 1 0-2h16a1 1 0 1 1 0 2ZM17 9H1a1 1 0 1 1 0-2h16a1 1 0 1 1 0 2Z"
                clip-rule="evenodd"
              />
            </svg>
          </span>
        </div>
      </nav>

      <div class="sidebar" id="sidebar">
        <div class="sidebar-header">
          <span id="closeBtn">✖</span>
        </div>
        <a class="menu-subtitle" href="./index.ejs">Home</a>
        <a class="menu-subtitle" href="./about.ejs">About</a>
        <a class="menu-subtitle" href="./recipes.ejs">Recipes</a>
        <a class="menu-subtitle" href="./recipes.ejs">Browse recipe</a>
      </div>

      <!-- Overlay -->
      <div class="overlay" id="overlay"></div>
    </header>
    <!-- header end -->

    <!-- main start -->
    <main class="main">
      <!-- mission -->
      <section class="container">
        <div class="mission-container">
          <div class="mission-items">
            <p class="mission-header-title">Our mission</p>
            <h3 class="mission-title"><%= item[0].mission.title%></h3>
            <div class="detail-info">
              <p class="mission-subtitle"><%=item[0].mission.description%></p>
              <p class="mission-subtitle"><%=item[0].mission.details%></p>
            </div>
          </div>
          <div class="mission-img-wrapper">
            <img
              class="mission-img"
              src="/images/image-about-our-mission-large.webp"
              alt="mission-img"
            />
          </div>
        </div>
      </section>
      <div class="line container"></div>
      <!-- why we exist -->
      <section class="container">
        <div class="exist-container">
          <div class="exist-left-wrapper">
            <h3 class="exist-left-title">Why we exist</h3>
          </div>
          <div class="list-container">
            <% item.forEach(function(el) { %> <%
            el.why_we_exist.forEach(function(why) { %>
            <div class="list">
              <div class="list-header">
                <span class="point-icon">
                  <img src="/images/icon-bullet-point.svg" alt="point-icon" />
                </span>
                <span class="header-title"><%= why.title %></span>
              </div>
              <div class="list-body">
                <p class="list-subtitle"><%= why.description %></p>
              </div>
            </div>
            <% }); %> <% }); %>
          </div>
        </div>
      </section>
      <div class="line container"></div>
      <!-- philosopy -->
      <section class="container">
        <div class="exist-container">
          <div class="exist-left-wrapper">
            <h3 class="exist-left-title">Our food philosophy</h3>
          </div>
          <div class="list-container">
            <% item.forEach(function(el) { %> <%
            el.food_philosophy.forEach(function(why) { %>
            <div class="list">
              <div class="list-header">
                <span class="point-icon">
                  <img src="/images/icon-bullet-point.svg" alt="point-icon" />
                </span>
                <span class="header-title"><%= why.title %></span>
              </div>
              <div class="list-body">
                <p class="list-subtitle"><%= why.description %></p>
              </div>
            </div>
            <% }); %> <% }); %>
          </div>
        </div>
      </section>
      <div class="line container"></div>
      <!-- Beyond the plate -->
      <section class="container">
        <div class="beyond-container">
          <div class="beyond-items">
            <h3 class="beyond-title"><%= item[0].beyond_the_plate.title%></h3>
            <p class="beyond-subtitle">
              <%= item[0].beyond_the_plate.description%>
            </p>
            <div class="beyond-detail">
              <div class="beyond-list">
                <span class="beyond-icon"></span>
                <span class="beyond-subtitle"
                  ><%= item[0].beyond_the_plate.goals[0]%></span
                >
              </div>
              <div class="beyond-list">
                <span class="beyond-icon"></span>
                <span class="beyond-subtitle"
                  ><%= item[0].beyond_the_plate.goals[1]%></span
                >
              </div>
              <div class="beyond-list">
                <span class="beyond-icon"></span>
                <span class="beyond-subtitle"
                  ><%= item[0].beyond_the_plate.goals[2]%></span
                >
              </div>
            </div>
          </div>
          <div class="beyond-img-wrapper">
            <img
              class="beyond-img"
              src="/images/image-about-beyond-the-plate-large.webp"
              alt="beyond-img"
            />
          </div>
        </div>
      </section>

      <!-- ready -->
      <section class="container ready-container">
        <div class="ready-items">
          <h3 class="ready-title">Ready to cook smarter?</h3>
          <p class="ready-subtitle">
            Hit the button, pick a recipe, and get dinner on the table—fast.
          </p>
          <a class="btn-xs ready-btn" href="#">Browse recipes</a>
        </div>
      </section>
    </main>
    <!-- main end -->

    <!-- footer start -->
    <footer>
      <div class="footer-container container">
        <div class="footer-title">Made with ❤️ and 🥑</div>
        <div class="footer-icons">
          <img src="/images/icon-instagram.svg" alt="instagram" />
          <img src="/images/icon-tiktok.svg" alt="icon-tiktok" />
          <img src="/images/icon-bluesky.svg" alt="blusky" />
        </div>
      </div>
    </footer>

    <!-- footer end -->

    <script type="module" src="/js/index.js"></script>
  </body>
</html>
